.select {
  width: 100%;
  background: #ffffff;
  border-radius: 55px;
  padding: 2px 15px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.105em;
  color: black;
  margin-bottom: 20px;
}
