.product__wrapper {
  width: 1200px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

.product__container {
  display: flex;
  justify-content: space-between;
}

.product__image-container {
  max-width: 49%;
  margin-right: 20px;
}

.product__image {
  max-width: 100%;
  object-fit: contain;
  margin-bottom: 20px;
}

.product__title {
  text-align: center;
  font-size: 24px;
}

.product__information {
  margin-bottom: 20px;
}
