.header {
  background: white;
  border-bottom: 2px solid rgb(222, 222, 222);
  position: sticky;
  top: 0;
}

.logo__container {
  background: rgb(49, 59, 68);
}

.logo__wrapper {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1096px;
}
