.searchInput {
  width: 100%;
  background: #ffffff;
  border-radius: 55px;
  padding: 2px 15px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.105em;
  color: black;
}

.searchInput__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto 20px;
}

label {
  margin-right: 20px;
}
