.radio {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.radio__container {
  display: flex;
  flex-grow: 1;
  max-width: 400px;
  justify-content: space-around;
}

.radio__title {
  font-weight: 400;
}

.radio__input {
  margin-right: 10px;
}
