* {
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins-med';
  src: url("src/assets/fonts/Poppins-Medium.ttf")
}

@font-face {
  font-family: 'Poppins';
  src: url("src/assets/fonts/Poppins-Regular.ttf")
}
